/* .mb-3 {
    position: relative;
    top: 0px;
    color: white;
    font-family: sans-serif;
} */
.navbar {
    height: 50px;
}
.p-5 {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;

}
.button {
    position: relative;
    top: 200px;
    font-family: sans-serif;
    align-items: center;
    height: 80px;
    width: 200px;
    background-color: white;

    
}

.ghiblilogo {
position: relative;
left: 900px;
width: auto;
height:auto;
max-height: 45px;

}

p {
    position: relative;
    top: 100px;
    font-family: sans-serif;
    align-items: center;
    /* text-align: right; */
}

.chars {
    font-family: sans-serif;
    position: relative;
    text-align: left;
}

.characters {
    position: relative;
    text-align: center;
    left: 500px;
    background-color:rgb(40, 75, 109);
    color: white;
    list-style-type: none;

} 
.films {
    position: relative;
    text-align: center;
    background-color:rgb(40, 75, 109);
    color: white;
    list-style-type: none;

} 

body {
    background-color: rgb(40, 75, 109);
}

img,svg {
    size: auto;
    max-height: 300px;
    position: relative;
    right:400px;
}

